{% extends 'blog/base.html' %}


{% block content %}
    <div class="container-fluid ">
        <div class="jumbotron row text-white rounded bg-dark pt-5 pb-5 post-detail d-flex align-items-center">
            <div class="col-12 text-center">
                <h1>{{ post.title }}</h1>

                <small class="d-block font-weight-normal">
                    por <a class="text-white font-weight-bold " href="{% url 'about' %}">{{ post.author.first_name }}</a>
                </small>
            </div>
        </div>
        
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <span class="text-muted"> {{ post.published_date }}</span>

                <p class="mt-4 text-justify">{{ post.text }}</p>
            </div>
           
        </div>

        <div class="row mt-5">
            <header class="row col-12 justify-content-between align-items-center">
                <div class="col-6">
                    <h6 class="mb-0">{{ comments_count }} Comentários</h6>

                </div>
            </header>
            <hr class="col-12"/>

            {% for comment in comments %}
            <div class="col-12">
                <small class="font-weight-bold text-muted">{{ comment.name }}</small>
                <p class="text-dark">
                    {{ comment.text }}
                </p>
            </div>
            <hr class="col-12 mt-2"/>
            {% endfor %}

        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h4>Insira seu Comentário</h4>
                {% if messages %}
                    <ul class="list-unstyled messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="POST" action="/comment/new/">
                    {% csrf_token %}
                    <div class="form-row mt-4 mb-5">
                        <div class="col-6">

                            {{ form.as_p }}

                            <button type="submit" class="btn btn-lg btn-outline-dark">Enviar</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        
    </div>
{% endblock %}
